<a href="https://colab.research.google.com/github/mikiereed/python_tutorials/blob/main/loop_tips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Five Cool Python Looping Tips | Emmett Boudreau
https://towardsdatascience.com/five-cool-python-looping-tips-14f6f44bcfc7

In [1]:
# using zip to combine and run through two lists at once
odds = [1, 3, 5, 7, 9]
evens = [2, 4, 6, 8, 10]

for odd_number, even_number in zip(odds, evens):
    print(odd_number)
    print(even_number)

1
2
3
4
5
6
7
8
9
10

In [5]:
# enumerate

test_list = [1, 5, 10]
data = dict(enumerate(test_list))
print(data)

{0: 1, 1: 5, 2: 10}

In [6]:
# sorted

test_list = [2, 3, 8, 1, 4, 0]
for i in sorted(test_list):
    print(i)

print(test_list)

0
1
2
3
4
8
[2, 3, 8, 1, 4, 0]

In [8]:
people = [{"name": "John", "id": 1},
          {"name": "Mike", "id": 4},
          {"name": "Sandra", "id": 2},
          {"name": "Jennifer", "id": 3},
          ]

for person in filter(lambda i: i["id"] % 2 == 0, people):
    print(person)

{'name': 'Mike', 'id': 4}
{'name': 'Sandra', 'id': 2}